<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="listConnection">
            <h2><span jhiTranslate="samuScrummasterApp.listConnection.detail.title">List Connection</span> {{listConnection.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="samuScrummasterApp.listConnection.name">Name</span></dt>
                <dd>
                    <span>{{listConnection.name}}</span>
                </dd>
                <dt><span jhiTranslate="samuScrummasterApp.listConnection.type">Type</span></dt>
                <dd>
                    <span jhiTranslate="{{'samuScrummasterApp.ListRole.' + listConnection.type}}">{{listConnection.type}}</span>
                </dd>
                <dt><span jhiTranslate="samuScrummasterApp.listConnection.workspace">Workspace</span></dt>
                <dd>
                    <div *ngIf="listConnection.workspace">
                        <a [routerLink]="['/workspace', listConnection.workspace?.id, 'view']">{{listConnection.workspace?.name}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="samuScrummasterApp.listConnection.issueList">Issue List</span></dt>
                <dd>
                    <div *ngIf="listConnection.issueList">
                        <a [routerLink]="['/issue-list', listConnection.issueList?.id, 'view']">{{listConnection.issueList?.name}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/list-connection', listConnection.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
