<div>
    <h2 id="page-heading">
        <span jhiTranslate="samuScrummasterApp.listConnection.home.title">List Connections</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-list-connection" [routerLink]="['/list-connection/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="samuScrummasterApp.listConnection.home.createLabel">
            Create new List Connection
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="listConnections">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="samuScrummasterApp.listConnection.name">Name</span></th>
            <th><span jhiTranslate="samuScrummasterApp.listConnection.type">Type</span></th>
            <th><span jhiTranslate="samuScrummasterApp.listConnection.workspace">Workspace</span></th>
            <th><span jhiTranslate="samuScrummasterApp.listConnection.issueList">Issue List</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let listConnection of listConnections ;trackBy: trackId">
                <td><a [routerLink]="['/list-connection', listConnection.id, 'view' ]">{{listConnection.id}}</a></td>
                <td>{{listConnection.name}}</td>
                <td jhiTranslate="{{'samuScrummasterApp.ListRole.' + listConnection.type}}">{{listConnection.type}}</td>
                <td>
                    <div *ngIf="listConnection.workspace">
                        <a [routerLink]="['../workspace', listConnection.workspace?.id, 'view' ]" >{{listConnection.workspace?.name}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="listConnection.issueList">
                        <a [routerLink]="['../issue-list', listConnection.issueList?.id, 'view' ]" >{{listConnection.issueList?.name}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/list-connection', listConnection.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/list-connection', listConnection.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'list-connection/'+ listConnection.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
