<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-list-connection-heading" jhiTranslate="samuScrummasterApp.listConnection.home.createOrEditLabel">Create or edit a List Connection</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!listConnection.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="listConnection.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="samuScrummasterApp.listConnection.name" for="field_name">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                        [(ngModel)]="listConnection.name" required/>
                    <div [hidden]="!(editForm.controls.name?.dirty && editForm.controls.name?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.name?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="samuScrummasterApp.listConnection.type" for="field_type">Type</label>
                    <select class="form-control" name="type" [(ngModel)]="listConnection.type" id="field_type"  required>
                        <option value="INBOX">{{'samuScrummasterApp.ListRole.INBOX' | translate}}</option>
                        <option value="OUTBOX">{{'samuScrummasterApp.ListRole.OUTBOX' | translate}}</option>
                        <option value="INTERNAL">{{'samuScrummasterApp.ListRole.INTERNAL' | translate}}</option>
                    </select>
                    <div [hidden]="!(editForm.controls.type?.dirty && editForm.controls.type?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.type?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="samuScrummasterApp.listConnection.workspace" for="field_workspace">Workspace</label>
                    <select class="form-control" id="field_workspace" name="workspace" [(ngModel)]="listConnection.workspace" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="workspaceOption.id === listConnection.workspace?.id ? listConnection.workspace : workspaceOption" *ngFor="let workspaceOption of workspaces; trackBy: trackWorkspaceById">{{workspaceOption.name}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="samuScrummasterApp.listConnection.issueList" for="field_issueList">Issue List</label>
                    <select class="form-control" id="field_issueList" name="issueList" [(ngModel)]="listConnection.issueList" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="issueListOption.id === listConnection.issueList?.id ? listConnection.issueList : issueListOption" *ngFor="let issueListOption of issuelists; trackBy: trackIssueListById">{{issueListOption.name}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
