<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="issue">
            <h2><span jhiTranslate="samuScrummasterApp.issue.detail.title">Issue</span> {{issue.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="samuScrummasterApp.issue.title">Title</span></dt>
                <dd>
                    <span>{{issue.title}}</span>
                </dd>
                <dt><span jhiTranslate="samuScrummasterApp.issue.issueList">Issue List</span></dt>
                <dd>
                    <div *ngIf="issue.issueList">
                        <a [routerLink]="['/issue-list', issue.issueList?.id, 'view']">{{issue.issueList?.name}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/issue', issue.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
